<div fxLayout="column" class="menu-container">
  <div
    fxLayout="column"
    fxLayoutAlign="space-between"
    class="menu-header header-color"
  >
    <img
      src="../../../assets/images/logo-header.png"
      class="menu-header-logo"
      alt="angular2-example"
    />
    <div fxLayout="row" fxLayoutGap="10px" class="menu-user-item" (click)="onClickProfile()">
      <img
        [src]="
          currentUser.photoId !== null &&
          currentUser.photoId !== undefined &&
          currentUser.photoId !== 0
            ? imageApi + currentUser.photoId
            : '../../../assets/user.png'
        "
        class="menu-user-avatar"
      />
      <div
        fxFlex
        fxFlexLayout="row"
        fxLayoutAlign="space-between center"
        class="color-white"
      >
        <span>{{ currentUser?.knowAs }}</span>
        <i class="fas fa-caret-right"></i>
      </div>
    </div>
  </div>
  <div>
    <div
      fxFlexLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      class="menu-item"
      (click)="onClickOnline()"
    >
      <i class="fas fa-user menu-item-style"></i>
      <div fxFlex fxFlexLayout="row" fxLayoutAlign="space-between center">
        <span>Online</span>
        <span *ngIf="countOnlineUser" class="menu-badge">{{
          countOnlineUser
        }}</span>
      </div>
    </div>

    <div fxFlexLayout="row" fxLayoutGap="10px" class="menu-item" (click)="onClickSearch()">
      <i class="fas fa-search menu-item-style"></i> <span>Search</span>
    </div>

    <div
      fxFlexLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="10px"
      class="menu-item"
      (click)="onClickPurchases()"
    >
      <i class="fas fa-shopping-cart menu-item-style"></i>
      <div fxFlex fxFlexLayout="row" fxLayoutAlign="space-between center">
        <span>Purchase Credits</span>
        <span *ngIf="currentUser?.credits" class="menu-badge">{{
          currentUser?.credits
        }}</span>
      </div>
    </div>
  </div>

  <div class="menu-item-logout" (click)="onClickSwitchToDesktop()">
    <span>View Desktop Version</span>
  </div>

  <div class="menu-item-logout" (click)="onClickLogout()">
    <span>Log Out</span>
  </div>
</div>
