.menu-container {
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  overflow: hidden;
  background: #fff;
}

.menu-header {
  padding: 10px 15px 15px;
  width: 100%;
  height: 120px;
  background: #26498a;
  margin-bottom: 10px;
}

.menu-item {
  width: calc(100% - 100px);
  padding: 10px 15px;
  /* position: relative; */
  color: #000;
  font-size: 17px;
}
.menu-item-style {
  vertical-align: middle;
  font-size: 24px;
  color: #26498a;
  /* margin-right: 10px; */
}
.menu-badge {
  border-radius: 3px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background: #93c11a;
  padding: 4px 8px;
}

.menu-item-logout {
  color: #999;
  font-size: 14px;
  width: calc(100% - 100px);
  padding: 10px 15px;
}

.menu-user-item {
  width: calc(100% - 100px);
  font-size: 17px;
}
.menu-user-avatar {
  width: 45px;
  height: 45px;
  object-fit: cover;
  padding: 0;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  overflow: hidden;
}

.menu-header-logo {
  height: auto;
  width: 110px;
}
