.header{
  position: fixed;
  width: 100vw;
  z-index: 120;
}

.open-menu {
  left: 100%;
  width: 100%;
  margin-left: -100px;
  position: fixed;
  box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.35),
    3px -3px 5px rgba(0, 0, 0, 0.35);
}

.open-active-chats {
  right: 100%;
  left: -100% !important;
  width: 100%;
  margin-left: 100px;
  position: fixed;
  box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.35),
    3px -3px 5px rgba(0, 0, 0, 0.35);
}
