<div class="h-100">
  <angular2-example-menu [class.show]="isShowMenu" [class.hide]="!isShowMenu"></angular2-example-menu>

  <div class="global-loader" [class.show]="isShowLoader" [class.hide]="!isShowLoader">
    <div></div>
  </div>

  <div fxFlex="100" fxLayout="column" class="main-container" [class.open-menu]="isShowMenu" >
    <div fxFlex="45px">
      <angular2-example-header class="header"></angular2-example-header>
    </div>
    <div fxFlex>
      <router-outlet></router-outlet>
    </div>
    <div>
      <angular2-example-footer></angular2-example-footer>
    </div>
  </div>
</div>