<div
  class="header-fixed header-color"
  fxLayout="row wrap"
  fxLayoutAlign="space-between center"
>
  <div fxLayout="row" fxLayoutGap="15px" class="fx">
    <i
      *ngIf="!isShowBack"
      fxFlexAlign="center"
      class="fas fa-bars icon-menu"
      (click)="onClickMenu()"
    ></i>
    <i
      *ngIf="isShowBack"
      fxFlexAlign="center"
      class="fas fa-arrow-left icon-menu"
      (click)="onClickBack()"
    ></i>

    <div
      *ngIf="photoId !== 0 && photoId !== null && photoId !== undefined"
      fxFlexAlign="center"
      class="user-avatar"
    >
      <img [src]="imageApi + photoId" />
    </div>
    <span
      *ngIf="chatRecipientName"
      fxFlexAlign="center"
      class="top-title chat-recipient"
    >
      {{ chatRecipientName }}
    </span>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center">
    <div *ngIf="title" class="top-title" (click)="onTitleClick()">
      {{ title }}
      <span *ngIf="isShowArrowDown"> <i class="fas fa-caret-down"></i> </span>
      <span *ngIf="isShowArrowUp"><i class="fas fa-caret-up"></i></span>
    </div>
    <div *ngIf="subTitle" class="sub-title color-white">{{ subTitle }}</div>
    <div *ngIf="isShowHaveCredits" class="sub-title color-white">
      You have {{ currentUser?.credits }} Credits
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="end start" class="fx">
    <div>
      <span
        *ngIf="isShowExtraButton"
        class="top-title end-chat-button"
        (click)="onClickExtraButton()"
        >{{ extraButtonTitle }}</span
      >
    </div>
    <div>
      <i
        *ngIf="isShowActiveChats"
        class="far fa-comments icon-menu"
        (click)="onClickActiveChats()"
      ></i>
    </div>
  </div>
</div>
