.user-avatar {
  width: 32px;
  height: 32px;
}

.user-avatar img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  padding: 0;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  overflow: hidden;
}

.end-chat-button {
  font-size: 16px;
}

.chat-recipient {
  font-size: 14px;
  text-align: left;
}

.sub-title {
  font-size: 11px;
  font-weight: 700;
}

.fx {
  flex: 2;
}
