.credit-count {
  font-size: 21px;
  text-align: center;
  font-weight: 700;
}

.cost-credit {
  font-weight: 400;
  color: grey;
}

.package-discount {
  position: absolute;
  top: 0;
  left: 20px;
  width: 60px;
  height: 60px;
  background: #93c11a;
  color: #fff;
  font-size: 17px;
}

.buy-once {
  margin-top: 10px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 700;
}

.buy-once-price {
  font-size: 17px;
}

.discount-triangle {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 10px solid #fff;
}