<div fxLayout="column" fxLayoutGap="15px" class="container-20-10">
  <div class="container-0-20 text-extra-large text-center">
    Purchase credits and get amazing features!
  </div>
  <div *ngFor="let tariffPlan of tariffPlans">
    <button
      class="form-button"
      [class.green-button]="tariffPlan === baseTariffPlan"
      [class.white-button]="tariffPlan !== baseTariffPlan"
      (click)="onClickBuy(tariffPlan)"
    >
      <div fxLayout="column">
        <div
          *ngIf="tariffPlan?.isOneTimeOffer"
          class="package-discount"
          style="display: block;"
        >
          <div class="buy-once">Buy Once</div>
          <div class="buy-once-price">
            $<span rv-text="pkg.price">{{
              tariffPlan.amountCurrency | number: "1.2-2"
            }}</span>
          </div>
          <div class="discount-triangle"></div>
        </div>

        <div
          class="credit-count"
          [class.color-white]="tariffPlan === baseTariffPlan"
        >
          {{ tariffPlan.amountCredits }} credits
        </div>
        <div
          class="cost-credit text-large"
          [class.color-white]="tariffPlan === baseTariffPlan"
        >
          {{
            tariffPlan.amountCurrency / tariffPlan.amountCredits
              | number: "1.2-2"
          }}$ peer credit
        </div>
      </div>
    </button>
  </div>
</div>
